@font-face {
    font-family: Annabelle;
    src: url(fonts/Annabelle\ JF\ Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
}

button {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.ic-location {
    display: inline-block;
    background-image: url(icons/location.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    vertical-align: middle;
}

.ic-call {
    display: inline-block;
    background-image: url(icons/call.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    vertical-align: middle;
}

.ic-clock {
    display: inline-block;
    background-image: url(icons/clock.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    vertical-align: middle;
}

.ic-trends {
    width: 24px;
    height: 19px;
    background-image: url(icons/trends.png);
    background-repeat: no-repeat;
}

.ic-favs {
    width: 24px;
    height: 19px;
    background-image: url(icons/favorites.png);
    background-repeat: no-repeat;
}

.mt8 {
    margin-top: 8px;
}

.mt16 {
    margin-top: 16px;
}

.mt32 {
    margin-top: 32px;
}

.row {
    display: flex;
}

.row-cv {
    display: flex;
    align-items: center;
}

.g8 {
    gap: 8px;
}

.g16 {
    gap: 16px;
}

.g24 {
    gap: 24px;
}

.g32 {
    gap: 32px;
}

.g48 {
    gap: 48px;
}

.flex1 {
    flex: 1;
}

.stdw {
    max-width: 1460px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}


.fw500 {
    font-weight: 500;
}

.swiper-cover {
    position: relative;
    padding: 0 64px;
}

.swiper-cover > .swiper {
    position: static;
}

.swiper > .swiper-button-prev,
.swiper > .swiper-button-next {
    --swiper-navigation-color: #d1d1d1;
    transition: color 0.3s;
}

.swiper > .swiper-button-prev:hover,
.swiper > .swiper-button-next:hover {
    --swiper-navigation-color: #a2a2a2;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    flex-wrap: wrap;
}

.logo {
    position: relative;
    font-family: Annabelle, sans-serif;
    font-size: 55px;
    font-style: italic;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.logo__text {
    padding-right: 20px;
}

.logo__circle {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ffe954;
    border-radius: 50%;
    z-index: -1;
    top: 12px;
    left: 36px;
}



.header-items {
    display: flex;
    column-gap: 48px;
    align-items: center;
}



.header-item {
    color: #3f3f3e;
    white-space: nowrap;
    font-size: 18px;
    text-decoration: none;
}

.header-item__text {
    border-bottom: 1px solid transparent;
    transition: border-color 0.15s;
}

.header-item:hover .header-item__text {
    border-color: inherit;
}



.search-input {
    position: relative;
}

.search-input input[type="text"] {
    box-sizing: border-box;
    max-width: 250px;
    border: 1px solid #3f3f3e;
    height: 32px;
    border-radius: 16px;
    padding-left: 36px;
    padding-right: 16px;
    font-size: 16px;
}

.search-input__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 6px;
    background-image: url(icons/search.png);
    background-repeat: no-repeat;
}


.basket-info {
    color: white;
    background-color: black;
    height: 32px;
    line-height: 32px;
    border-radius: 100px;
    font-size: 14px;
    padding: 0 12px;
    white-space: nowrap;
    text-decoration: none;
}

.basket-info__icon {
    position: relative;
    background-image: url(icons/basket.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 20px;
}

.basket-info__count {
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -27%);
}


.nav-main {
    background-color: #ffe954;
    width: 100%;
    min-width: fit-content;
}

.nav-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nml-item {
    line-height: 24px;
    color: inherit;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.nml-item__text {
    display: inline-block;
    line-height: inherit;
    padding: 0 24px;
    text-transform: inherit;
    border-radius: 50px;
    transition: background-color 0.15s;

    margin: 13px 0;
}

.nml-item:hover .nml-item__text {
    background: white;
}


.nml-item:hover .nml-item__dropdown {
    display: block;
}

.nml-item__dropdown {
    position: absolute;
    display: none;
    width: 1460px;
    background-color: white;
    z-index: 1;
    text-transform: none;
}



.catalog-dd {
    padding: 20px 100px;
    cursor: auto;
}

.catalog-dd__types {
    width: 300px;
}

.catalog-dd__list {
    list-style-type: "– ";
    margin-left: 11px;
}

.catalog-dd__list li {
    margin: 4px 0;
}

.catalog-dd__title {
    color: rgb(52, 59, 88);
    font-weight: bold;
    margin-bottom: 4px;
}

.catalog-dd__title--centered {
    color: rgb(52, 59, 88);
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
}


.catalog-dd__group {
    border: 1px dashed #c7c7c7;
    padding: 10px;
}


.catalog-dd__selectors {
    flex: 1;
}



.nav-main__links li {
    text-transform: uppercase;
    font-size: 14px;
    list-style-type: none;
}

.nav-main__links li a {
    color: #3f3f3e;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: color 0.15s, border-color 0.15s;
}

.nav-main__links li:hover a {
    color: black;
    border-color: inherit;
}




main section {
    margin: 64px 0;
}

main section:last-child {
    margin-bottom: 0;
}




.promo {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
}

.promo-link {
    color: #ff5a00;
    font-size: 12px;
    text-decoration: underline;
}


.promo-1 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
    color: white;
    background: url(images/sale1.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 50%;
    padding-top: 90px;
    padding-bottom: 120px;
    text-decoration: none;

    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
}

.promo-1__title {
    font-size: clamp(3.5rem, 5vw, 4.5em);
    line-height: 0.8;
    font-weight: bold;
    word-break: break-all;
    text-transform: uppercase;
}

.promo-1__link {
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 100px;
    padding: 14px 26px;
    text-align: center;

    color: white;
    background-color: #fd5e00;
}

.promo-1__hexagon {
    position: absolute;
    right: 30px;
    bottom: 0;
    background-image: url(images/sale1_hexagon.png);
    width: 109px;
    height: 100px;
    font-weight: 300;
    line-height: 26px;
}

.promo-1__sales60 {
    position: absolute;
    bottom: 5px;
    padding-left: 12px;
    text-transform: uppercase;
    text-align: center;
}

.promo-1__upto {
    position: absolute;
    bottom: 8px;
    font-size: 11px;
    left: 5px;
}

.promo-text19 {
    font-size: 19px;
}

.promo-text33 {
    font-size: 33px;
}


.promo-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 22px;
    padding-left: 24px;
    padding-bottom: 10px;
    background: url(images/vele_luce.png);
    background-size: cover;
    background-position: right;
    color: black;
    text-decoration: none;

    grid-column: 4 / span 2;
}

.promo-2__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    width: 40%;
}

.promo-2__logo {
    position: absolute;
    right: 15px;
    bottom: 9px;
}



.promo-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 4px;
    color: white;
    background: url(images/bulb_gift.png);
    background-size: cover;
    background-position: right;
    text-decoration: none;
    padding-right: 18px;
    text-align: right;

    grid-column: 4 / span 2;
}

.promo-3__title {
    font-size: 41px;
    font-weight: bold;
    text-transform: uppercase;
}

.promo-3__subtitle {
    font-size: 14px;
    width: max(33%, 120px);
}

.promo-3__link {
    position: absolute;
    bottom: 8px;
    right: 12px;
    text-decoration: underline;
}


@media (max-width: 1000px) {
    .promo {
        grid-template-columns: 1fr;
    }
    
    .promo-1, .promo-2, .promo-3 {
        grid-column: auto;
    }
}


h2 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    gap: 16px;
    margin-bottom: 56px;
}

h2::before, h2::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    flex-grow: 1;
}


h3 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    gap: 64px;
    margin-bottom: 56px;
}

h3::before, h3::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    flex-grow: 1;
}





.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(150px, 20%), 1fr));
    gap: min(30px, 3vw);
}

.category {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.category img {
    width: 100%;
    height: auto;
}

.category p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: clamp(12px, 2vw, 24px);
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    text-transform: uppercase;
    text-align: center;
}

.category p::before, 
.category p::after {
    content: "";
    display: block;
    min-width: 32px;
    max-width: 32px;

    height: 1px;
    background-color: black;
}



.product {
    color: #292828;
    position: relative;
}

.product img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 32px;
}

.product__title {
    display: block;
    font-size: 16px;
    text-align: center;
    color: black;
    margin-bottom: 16px;
}

.product__price {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}

.product__rub {
    font-size: 32px;
}

.product__old-price {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    opacity: 0.42;
    text-decoration: line-through;
}

.product__old-price::before,
.product__old-price::after {
    content: "\a0"; /* whitespace */
}

.product button {
    display: block;
    margin: 10px auto;
    font-family: Montserrat, sans-serif;
    background-color: #ffde00;
    font-weight: 500;
    font-size: 14px;
    border-radius: 100px;
    padding: 15px 43px;
}

.product__badges {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;

    position: absolute;
    top: 0;
    right: 0;
}

.product-badge {
    line-height: 20px;
    padding: 0 7px;
}

.product-badge--orange {
    background-color: #eb6200;
    color: white;
    font-size: 13px;
}

.product-badge--grey {
    background-color: #555555;
    color: white;
    font-size: 10px;
}

.product-badge--green {
    font-size: 13px;
    background-color: #44ae1a;
    color: white;
    text-transform: uppercase;
}


.styles {
    height: 200px;
}

.styles > .swiper {
    height: 100%;
}

.style {
    position: relative;
    height: 100%;
    background-color: black;
}

.style img {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.style::after {
    content: "";
    display: block;
    background: linear-gradient(transparent 33%, black);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.style p {
    position: absolute;
    bottom: 14px;
    color: white;
    font-weight: 200;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 2;
}

.style p::before,
.style p::after {
    display: block;
    content: "";
    flex: 1;
    height: 1px;
    background-color: white;
}



.brands {
    height: 200px;
}

.brands > .swiper {
    height: 100%;
}

.brand {
    position: relative;
    height: 100%;
    background-color: #484848;
}

.brand__icon {
    position: absolute;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(90%);
    z-index: 1;
}

.brand__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}



.about {
    background: #ffde06;
    padding-top: 40px;
    padding-bottom: 80px;
    position: relative;
    margin-top: 120px;
    font-size: 21px;
}

.about__img {
    position: absolute;
    height: 80%;
    left: calc(50% - 620px);
    top: 53%;
    object-fit: contain;
    transform: translate(-50%, -55%);
}

.about__title {
    text-transform: uppercase;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 56px;
}

.about__title::after {
    content: "";
    display: block;
    flex: 1;
    height: 1px;
    background-color: black;
}

.about p {
    margin: 24px 0;
}

.about__link {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    color: white;
    line-height: 44px;
    text-decoration: none;
    padding: 0 32px;
    margin-top: 16px;
    border-radius: 100px;
    cursor: pointer;
}

.about__margin {
    margin-left: calc(50% - 340px);
}



footer {
    min-width: fit-content;
    background-color: black;
    color: white;
    font-size: 16px;
}

.footer-content {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 20px;
}

.footer-sections {
    display: flex;
    margin-bottom: 24px;
    gap: 32px;
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 1000px) {
    .footer-sections {
        flex-flow: column;
    }
}

.footer-sections section {
    flex: 1;
}

footer a {
    color: inherit;
}

footer .title {
    color: #ffd800;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 8px;
}

footer ul {
    list-style-type: none;
}

footer .item {
    position: relative;
    margin: 12px 0;
    font-size: 14px;
    line-height: 24px;
}

footer .item__icon {
    position: absolute;
    top: 1px;
    left: -34px;
}

footer .item__largetext {
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
}

.copyright {
    text-align: center;
    font-size: 11px;
    opacity: 0.32;
}

.line-36 {
    line-height: 36px;
}
